@use "/src/styles/main.scss" as *;

.createPassword_side_text_catchphrase {
    font-weight: 500;
    font-size: toRem(33.3);
    line-height: toRem(42);
    letter-spacing: 0%;
    text-align: start;
    width: toRem(360);
    margin-bottom: toRem(30);

    @include media("<=tablet") {
        color: $light-black;
        width: auto;
        margin-top: toRem(80);
    }

    @include media("<=phone-tab") {
        color: $light-black;
        font-size: toRem(24);
        margin-top: toRem(50);
    }


}

.createPassword_side_text_catchphrase_requirementsContainer {
    margin-bottom: toRem(200);

    @include media("<=tablet") {
        align-self: start;
        margin: auto auto;
        width: toRem(680);
    }

    @include media("<=phone-tab") {
        align-self: start;
        margin: auto auto;
        width: toRem(487);
    }
  }
  
  .createPassword_side_text_catchphrase_requirementItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .createPassword_side_text_catchphrase_bullet {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;

                          
    @include media("<=tablet") {
        background-color: $light-black;
    }

    @include media("<=phone-tab") {
        margin-right: 10px;
    }
  }
  
  .createPassword_side_text_catchphrase_text {
    color: white;
    font-family: $font-plus-jakarta;
    font-weight: 300;
    font-size: toRem(19);
    line-height: toRem(30);
    letter-spacing: 0%;

                          
    @include media("<=tablet") {
        color: $light-black;
    }

    @include media("<=phone-tab") {
        font-size: toRem(16);
    }
  }