@use "/src/styles/main.scss" as *;

.detailsCardDriver {
    @include flex(start, center, toRem(31.08));
    padding: toRem(21) toRem(59) toRem(15) toRem(26);
    height: toRem(130);
    // width: toRem(1469);
    width: 100%;
    background-color: $white;
    border-radius: toRem(20);
    


    &_image {
        width: toRem(94);
        height: toRem(94);
        border-radius: 50%;
        background: rgba(62, 64, 149, 0.45);
        flex-shrink: 0;
    }

    &_layout {
        @include flex(space-between, center, 0px);
        width: 100%;

        &_person {
            @include flex_col(toRem(12));

            &_name {
                font-family: Plus Jakarta Sans;
                font-weight: 500;
                font-size: toRem(31.17);
                line-height: toRem(39.27);
                letter-spacing: 0%;                
            }

            &_role {
                font-family: Plus Jakarta Sans;
                font-weight: 500;
                font-size: 19.48px;
                line-height: 24.54px;
                letter-spacing: 0%;   
                color: $light-gray;                 
            }
        }


        &_car {
            @include flex_col(toRem(8));

            &_type {
                font-family: Plus Jakarta Sans;
                font-weight: 500;
                font-size: toRem(31.17);
                line-height: toRem(39.27);
                letter-spacing: 0%;                
            }

            &_number {
                font-family: Plus Jakarta Sans;
                font-weight: 500;
                font-size: toRem(19.48);
                line-height: toRem(24.54);
                letter-spacing: 0%;    
                color: $light-gray;                   
            }
        }
    }
}