@use "../main.scss" as *;

.footerCont {
    @include flexbox(row, toRem(0));
    height: toRem(800);
    width: 100vw;
    position: relative;

    background-image: url("/src/assets/images/footerBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    padding-top: toRem(182);

    &_social {
        margin-left: toRem(162);
        // margin-top: toRem(182);
        width: toRem(212);
        flex-shrink: 0;
        color: $white;
        font-family: $font-roboto;

        &_layout {
            &_icons {
                @include flexbox(row, toRem(18));

                img {
                    width: toRem(28);
                    height: toRem(28);
                    cursor: pointer;
                }
            }

            &_locate {
                @include flexbox(row, toRem(0));
                justify-content: space-between;
                align-items: center;
                margin-top: toRem(37);
                font-size: toRem(19);

                &_lang, &_place {
                    @include flexbox(row, toRem(5));
                    align-items: center;

                    img {
                        width: toRem(17);
                        height: toRem(17);
                    }
                }


            }

            &_help {
                font-family: $font-roboto;
                font-size: toRem(19);
                font-weight: 400;
                line-height: toRem(30.95);
                text-align: left;
                margin-top: toRem(43);
                cursor: pointer;
            }
        }

        &_download {
            @include flexbox(row, toRem(50));
            justify-content: space-between;
            margin-top: toRem(180);

            &_google {
                width: toRem(135);
                height: toRem(40);
                cursor: pointer;
            }

            &_apple {
                width: toRem(119.7);
                height: toRem(40);
                cursor: pointer;
            }
        }
    }

    &_company, &_product, &_citizenship {
        @include flexbox(column, toRem(34));
        // margin-top: toRem(182);
        font-family: $font-plus-jakarta;
        color: $white;


        &_title {
            font-size: toRem(27);
            font-weight: 500;
            // line-height: toRem(37.8);
            flex-shrink: 0;     
        }

        &_text {
            @include flexbox(column, toRem(10));
            font-size: toRem(19);
            font-weight: 400;
            line-height: toRem(30.95);

            div {
                cursor: pointer;
            }

        }
    }

    &_company {
        margin-left: toRem(245);
        width: toRem(132);
        // border: 1px solid green;

    }

    &_product {
        margin-left: toRem(266);
        width: toRem(220);
        // border: 1px solid green;
        flex-shrink: 0;

    }

    &_citizenship {
        margin-left: toRem(135);
        // margin-right: toRem(308);
        // width: toRem(250);
        // border: 1px solid green;
        flex-shrink: 0;
    }

    &_lastInfo {
        position: absolute;
        right: toRem(160);
        bottom: toRem(189);
        width: toRem(394);
        height: toRem(89);
        // border: 1px solid yellow;

        &_links {
            margin-top: toRem(28);
            @include flexbox(row, toRem(0));
            justify-content: space-between;
            font-family: $font-roboto;
            font-size: toRem(18);
            font-weight: 400;
            line-height: toRem(21.1);
            color: $white;

            div {
                cursor: pointer;
            }
        }
    }


    &_secBackground {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("/src/assets/images/secBackground.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: toRem(120);
    }
}