@use "/src/styles//main.scss" as *;

.historycard {
    @include flex(start, start, toRem(37.01));
    width: toRem(1469);
    height: toRem(259);
    background-color: $white;
    border-radius: toRem(20);
    padding: toRem(27) toRem(59) toRem(27) toRem(42);
    font-family: $font-plus-jakarta;
    
    &:hover {
        cursor: pointer;
        background-color: #ffffffaf;
    }

    img {
        width: toRem(72.07);
        height: toRem(179.29);
    }

    &_layout {
        width: 100%;
        height: 100%;
        @include flex(space-between, start, toRem(0));
        
        &_address {
            @include flex_col(toRem(53));

            &_pickup, &_destination {
                @include flex_col(toRem(12));
                &_main {
                    font-weight: 500;
                    font-size: toRem(31.17);
                    line-height: toRem(39.27);
                    letter-spacing: 0%;                    
                }
                &_sub {
                    font-weight: 500;
                    font-size: toRem(19.48);
                    line-height: toRem(24.54);
                    letter-spacing: 0%;  
                    color: $light-gray;                  
                }
            }
        }

        &_other {
            @include flex_col(toRem(56));

            &_pickup, &_destination {
                @include flex_col(toRem(8));
                align-items: end;

                &_main {
                    font-weight: 500;
                    font-size: toRem(31.17);
                    line-height: toRem(39.27);
                    letter-spacing: 0%;                    
                }
                &_sub {
                    font-weight: 500;
                    font-size: toRem(19.48);
                    line-height: toRem(24.54);
                    letter-spacing: 0%;  
                    color: $light-gray;                  
                }
            }
        }
    }
    
}