@use "/src/styles/main.scss" as *;

.mobileHeader {
    @include flex-center();
    height: toRem(100);
    position: relative;
    color: $white;
    background-color: transparent;

    @include media(">=tablet") {
        display: none;
    }
    

    justify-content: space-between;
    margin: auto toRem(50);

    @include media("<=phone-tab") {
        margin: auto toRem(30);
    }

    &_menu {
        // @include flex-center();
        // width: toRem(65);
        // height: toRem(65);
        // justify-self: start;
        // position: absolute;
        // left: toRem(50);
        // align-self: center;

        // &:hover {
        //     cursor: pointer;
        // }


        @include flex-center();
        width: toRem(65);
        height: toRem(65);
        justify-self: start;
        align-self: center;

        &:hover {
            cursor: pointer;
        }
        

        @include media("<=phone-tab") {
            left: toRem(25);
            width: toRem(55);
            height: toRem(55);
        }

        img {
            width: toRem(65);
            height: toRem(65);

            @include media("<=phone-tab") {
                width: toRem(55);
                height: toRem(55);
            }
        }
    }

    .open {
        transform: rotate(-90deg);
        transition: all ease-in 0.3s;
    }

    .normal {
        transform: rotate(0deg);
        transition: all ease-in 0.3s;

    }

 
    &_logo {

        @include flex(start, center, toRem(15));
        font-family: $font-plus-jakarta;
        font-size: toRem(30);
        font-weight: 800;
        line-height: toRem(37.8);
        text-align: left; 
        color: $white;  
        align-self: center;
        justify-self: end;
        margin-left: toRem(15);

        @include media("<=phone-tab") {
            font-size: toRem(21);
            margin-left: 0px;
            gap: toRem(10);
        }
        
        img {
            width: toRem(46);
            height: toRem(46);

            @include media("<=phone-tab") {
                width: toRem(38);
                height: toRem(38);
            }
            
        }
    }

    &_layout {
        @include flex(start, center, toRem(27));
        justify-self: end;

        @include media("<=phone-tab") {
            gap: toRem(20);
        }

        img {
            width: toRem(30);
            height: toRem(37.5);

            @include media("<=phone-tab") {
                width: toRem(25);
                height: toRem(31);
            }
        }

        div {
            width: toRem(50);
            height: toRem(50);
            border-radius: 50%;
            background-color: #D9D9D9;

            @include media("<=phone-tab") {
                width: toRem(42);
                height: toRem(42);
            }
        }
    }



}