@use "/src/styles/main.scss" as *;

.totalCard {
    @include flex-center();
    flex-direction: column;
    width: toRem(255);
    height: toRem(149);
    background-color: $white;
    border-radius: toRem(20);
    color: #373737;
    font-family: $font-plus-jakarta;

    &_title {
        @include flex(start, center, toRem(10));
        // border: 1px solid red;

        img {
            width: toRem(35);
            height: toRem(35);
            align-self: center;
        }

        &_text {
            font-weight: 500;
            font-size: toRem(14);
            line-height: toRem(16);
            letter-spacing: 0%;                
        }
    }

    &_count {
        font-weight: 800;
        font-size: toRem(46);
        line-height: toRem(69.3);
        letter-spacing: 0%;     
    }
}