
@import './breakpoints.scss';



// Function to convert px to rem
// @function toRem($px) {
//   @return calc($px / 16) * 1rem  * 0.833333;
// }

// Mixin for flexbox utility classes
@mixin flexbox($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}


@mixin flex($jc, $ai, $gap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

@mixin flex_col($gap) {
  flex-direction: column;
  display: flex;
  gap: $gap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function toRem($value) {
  $remValue: (calc($value / 16 * 0.83333)) + rem;
  @return $remValue;
}

