@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #3E4095;
$secondary-blue: #3B3D8F;
$secondary-color: #AF2E2F;
$text-color: #373737;
$black: #000000;
$white: #FFFFFF;
$secondary-black: #373737;
$light-black: #292D32;
$light-gray: #A6A6A6;






$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;