@use "../../styles/main.scss" as *;

.t-button {
  border-radius: 0;

  font-size: toRem(20);
  font-weight: 500;
  line-height: toRem(30);
  text-align: center;
  padding: toRem(15) toRem(20);
  height: fit-content;
  min-width: toRem(300);

  &-primary {
    background-color: #3E4095!important;
    color: $white;
    border: none !important;

    &:hover {
      background-color: darken(#3E4095, 10%) !important;
    }
  }

  &-secondary {
    background-color: #af2e2f!important;
    color: $white;
    border: none !important;

    &:hover {
      background-color: darken(#af2e2f, 20%) !important;
      color: $white !important;
    }
  }

  &-outline {
    background-color: $white;
    color: #3E4095!important;
  }

  &.rounded {
    border-radius: 10px;
  }

  &.small {
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0%;
    height: 50px;
    min-width: 0;
  }
}
