@use "/src/styles//main.scss" as *;

.coupon {
    font-family: $font-plus-jakarta;

    @include media("<=tablet") {
        background-color: $white;
    }

    &_title {
    font-weight: 500;
    font-size: toRem(28);
    line-height: toRem(35.28);
    letter-spacing: 0%;
    margin-bottom: toRem(50);

    @include media("<=tablet") {
        display: none;
    }


    }
    &_tabs {
        @include flex(start, center, toRem(59));
        font-family: $font-plus-jakarta;
        font-weight: 400;
        font-size: toRem(24);
        line-height: toRem(30.28);
        letter-spacing: 0%;
        margin-top: toRem(36);
        color: $light-gray;
        padding-left: toRem(70);
        padding-bottom: toRem(24);
        border-bottom: toRem(1) solid $light-gray;

        div {
            cursor: pointer;
        }

        &_active {
            color: black;
            font-style: 500;
            font-size: toRem(28);
            line-height: toRem(35.28);
        }

        @include media("<=tablet") {
            @include flex-center();
            padding-left: 0px;
            margin-top: toRem(0);
            padding-top: toRem(36);
        }
    }

    &_layout {
        margin-top: toRem(86);
        display: grid;
        grid-template-columns: auto auto auto;
        gap: auto;
        row-gap: toRem(53);
        padding-left: toRem(78);

        @include media("<=tablet") {
            grid-template-columns: auto auto;
            padding-left: 0px;
            justify-self: center;
            column-gap: toRem(40);
        }

        @include media("<=phone-tab") {
            grid-template-columns: auto;
            @include flex-center();
            flex-direction: column;
            padding-left: 0px;
            column-gap: auto;
        }
    }
}