@use "/src/styles/main.scss" as *;

.createPassword {
    @include flexbox(row, 0px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

    &_side {
        
        @include flexbox(row, 0px);
        align-items: center;
        justify-content: center;
        position: relative;
        background-image: url("/src/assets/images/bgAuth.png");
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;

        width: toRem(642);
        // height: toRem(1056);
        // height: 100vh;
        height: auto;
        // max-height: toRem(1268);
        z-index: 1;

        @include media("<=tablet") {
            display: none;
        }

        &_text {
            font-family: $font-plus-jakarta;    
            color: $white;     
            z-index: 77;  
            width: toRem(424);
            justify-self: center;

            

            &_alert {
                align-self: start;
            }
        }



        &_bg {
            position: absolute;
            width: toRem(642);
            // height: toRem(1056);
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(180deg, #3e4095 0%, #292a6173 100%);
        }
    }

    &_main {
        margin: 0px auto;
        height: 100vh;
        overflow-y: scroll;
        padding: toRem(145) 0px toRem(200) 0px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;


        @include media(">=tablet") {
            margin: auto auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        @include media("<=tablet") {
            padding-top: toRem(0);
        }

        &_content {
            @include media(">=tablet") {
                margin-top: toRem(240);
            }
            &_title {
                font-family: $font-plus-jakarta;
                font-weight: 500;
                font-size: toRem(33.3);
                line-height: toRem(42);
                letter-spacing: 0%;
                text-align: start;
                width: toRem(360);

                @include media("<=tablet") {
                    font-size: toRem(36);
                    text-align: center;
                    width: toRem(680);
                    margin: auto auto;
                    margin-top: toRem(100);
                    margin-bottom: toRem(40);
                }

                @include media("<=phone-tab") {
                    font-size: toRem(30);
                    width: toRem(487);
                    margin-top: toRem(70);
                }
            }


            &_register {
                margin-top: toRem(54);
                font-family: $font-plus-jakarta;
                color: $light-gray;

                &_field {
                    position: relative;

                    img {
                        position: absolute;
                        right: toRem(25);
                        bottom: toRem(21);
                        
                        width: toRem(20);
                        height: toRem(20);
                        cursor: pointer;
                                          
                    }

                    .eye {
                        position: absolute;
                        right: toRem(25);
                        bottom: toRem(21);
                        
                        width: toRem(20);
                        height: toRem(20);
                        cursor: pointer;
                                          
                    }
                }

                form {
                    @include flexbox(column, toRem(0));
                    align-items: start;
                    // width: 100%;

                    @include media("<=tablet") {
                        align-items: center;
                    }

                    label {
                        font-weight: 400;
                        font-size: toRem(15);
                        line-height: toRem(18);
                        letter-spacing: 0%;  
                        color: $light-gray; 
                        margin-top: toRem(15);
                        
                        @include media("<=tablet") {
                            width: toRem(680);
                        }

                        @include media("<=phone-tab") {
                            width: toRem(487);
                        }
                    }

                    .input_text {
                        width: toRem(758);
                        height: toRem(62);
                        outline: none;
                        border: toRem(1) solid $light-gray;
                        margin-top: toRem(10);

                        font-weight: 400;
                        font-size: toRem(20);
                        line-height: toRem(25.2);
                        letter-spacing: 0%;
                        color: $text-color;
                        padding-left: toRem(34);
                        padding-right: toRem(34);

                        &::placeholder {
                            font-weight: 400;
                            font-size: toRem(20);
                            line-height: toRem(25.2);
                            letter-spacing: 0%;
                            color: #DBDBDB;
                        }

                        @include media("<=tablet") {
                            width: toRem(680);
                            height: toRem(80);
                        }

                        @include media("<=phone-tab") {
                            width: toRem(487);
                            height: toRem(70);
                        }
                    }

                    .dashedlines {
                        @include flex(space-between, center, toRem(10));
                        max-width: toRem(758);
                    
                        img {
                            width: toRem(758);
                            height: toRem(8.5);
                        }

                        &_progress {
                            background-color: #EFEFEF;
                            width: toRem(143.7);
                            height: toRem(9);
                            border-radius: toRem(20);
                            margin-top: toRem(14);
                            margin-bottom: toRem(15);

                            @include media("<=tablet") {
                                width: toRem(105);
                                height: toRem(8);
                                margin-bottom: toRem(12);

                            }

                            @include media("<=phone-tab") {
                                width: toRem(72.6);
                                height: toRem(6);
                            }

                            &.active {
                                background-color: #06cf06;
                            }
                        }
                    }


                    .createPassword_main_content_register_nomail {
                        font-weight: 300;
                        font-size: toRem(20);
                        line-height: toRem(25.2);
                        letter-spacing: 0%;    
                        width: toRem(758); 
                        color: $light-black; 
                    }
    
                    .createPassword_main_content_register_actions {
                        display: inline-block;
                        @include flex(start, center, toRem(185));
                        margin-top: toRem(232);

                        @include media("<=tablet") {
                            flex-direction: column-reverse;
                            gap: toRem(30);
                            align-items: center;
                        }

                        @include media("<=phone-tab") {
                            gap: toRem(20);
                            margin-top: toRem(180);
                        }
                    }
                }
            }
        }
    }

    .input-error {
        color: #af2e2f;
        font-size: toRem(16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5px !important;
        margin-bottom: 10px;

        @include media("<=tablet") {
            align-self: start;
            padding-left: toRem(160);
        }

        @include media("<=phone-tab") {
            align-self: start;
            padding-left: toRem(37);
        }
      }

      .first-and-last {
        margin-bottom: toRem(15);
      }
}
